{% load static %}
<script src="{% static 'js/steps.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/checkout/steps.css' %}">

<div class="checkout-steps-wrapper d-flex justify-content-start">
  <div class="checkout-steps d-flex align-items-center">
    <div class="step" data-step-index="1">確認訂單</div>
    <div class="arrow">---></div>
    <div class="step" data-step-index="2">付款方式及寄送資訊</div>
    <div class="arrow">--></div>
    <div class="step" data-step-index="3">完成</div>
  </div>
</div>