/* 提示訊息 */
.alert.fade {
  transition: opacity 2s ease; /* 慢慢消失 */
}

.alert-error {
    background-color: #2B5F75 !important;
    border-color: #2B5F75 !important;
    color: #fff !important;  /* 字改白色才看得清楚 */
}