<!-- 子連結頁面 寫這個燒死我的腦-->
{% load static %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<!-- 卡片連結 (售物帖 / 收物帖） -->
<a href="{% if type == 'sell' %}{% url 'shop' shop_id=shop.id %}{% else %}{% url 'want_detail' want_id=want.id %}{% endif %}" class="text-decoration-none">
   <!-- 卡片邊框 粉紅色：售物帖，藍色：收物帖） -->
  <div class="card border-4 h-100 post-card {% if type == 'sell' %} border-pink {% else %} border-blue {% endif %}" class = "card_B">
    <!-- 圖片區 -->
    <div class="image-wrapper d-flex justify-content-center align-items-center">
      {% if type == 'sell' and shop.images.exists %}
        <img src="{{ shop.images.first.img.url }}" class="card-img-top object-fit-cover" alt="商店圖片">
      {% elif type == 'want' and want.images.exists %}
        <img src="{{ want.images.first.img.url }}" class="card-img-top object-fit-cover" alt="收物圖片">
      {% else %}
        <img src="{% static 'images/no-image.png' %}" class="card-img-top object-fit-cover" alt="預設圖片">
      {% endif %}
    </div>

    <!-- 如果卡片截止日期已到 -->
    {% if type == 'sell' and shop.is_ended %}
      <div class="ended-overlay"></div>
      <div class="ended-text">已結束</div>
    {% endif %}


     <!-- 文字區 -->
    <div class="card-body d-flex flex-column justify-content-between">
      <div class="card-title text-dark text-truncate">
        <!-- 看是售物帖還是收物帖 顯示標題 -->
        {% if type == 'sell' %}{{ shop.name }}{% else %}{{ want.title }}{% endif %}
      </div>
      <!-- 如果是售物 顯示商品價格間距 -->
      {% if type == 'sell' %}
        <p class="card-text text-danger fw-bold">NTD ${{ shop.price_min }} - ${{ shop.price_max }}</p>
      {% endif %}

      <!-- 標籤區（最多顯示 3 個） -->
      <div class="tag-list mt-auto">
        {% if type == 'sell' %}
          {% for tag in shop.shoptag_set.all|slice:":3" %}
            <span class="badge bg-secondary me-1">#{{ tag.tag.name }}</span>
          {% endfor %}
        {% else %}
          {% for tag in want.wanttag_set.all|slice:":3" %}
            <span class="badge bg-secondary me-1">#{{ tag.tag.name }}</span>
          {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>
</a>