{% load static %}
<link rel="stylesheet" href="{% static 'css/error/error_msg.css' %}">
{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show shadow-sm auto-fade"
          role="alert"
          style="max-width: 960px; margin: 0 auto; border-radius: 10px;">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
<script defer src="{% static 'js/AutoFade.js' %}"></script>