{% load static %}
{% load extras %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoodBuy</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="header"> {% include 'base.html' %} </div>
  <div class="container my-4 main-content">

    <!-- 篩選 -->
    <div class="d-flex justify-content-end mb-3">
      <form method="get" class="d-flex gap-2" id="filter-form">
        <select name="type" class="form-select w-auto " onchange="this.form.submit()">
          <option value="">全部類型</option>
          <option value="sell" {% if request.GET.type == 'sell' %}selected{% endif %}>售物帖</option>
          <option value="want" {% if request.GET.type == 'want' %}selected{% endif %}>收物帖</option>
        </select>

        <!-- 不對阿哪來的標籤可以篩選 -->
        <!-- <select name="tag" class="form-select w-auto">
          <option value="">全部標籤</option>
          {% for t in all_tags %}
            <option value="{{ t.name }}" {% if request.GET.tag == t.name %}selected{% endif %}>
              {{ t.name }}
            </option>
          {% endfor %}
        </select> 
        <button type="submit" class="btn btn-outline-primary">篩選</button> -->
        
      </form>
    </div>

    <!-- 卡片(shop&want) 要寫卡片樣式的去common/card.html--> 
    <div class="row">
      {% for item in items %}
        <div class="col-md-3 mb-3 d-flex justify-content-center">
          {% if item.post_type == 'shop' %}
            {% include 'common/card.html' with shop=item type='sell' %}
          {% elif item.post_type == 'want' %}
            {% include 'common/card.html' with want=item type='want' %}
          {% endif %}
        </div>
      {% empty %}
        <p class="text-center text-muted">目前沒有符合條件的資料</p>
      {% endfor %}
    </div>
  </div>

  <!-- 登入彈跳視窗 -->
  <div class="modal-overlay" id="modal-overlay">
    <div class="modal">
      <div id="modal-content">
        <!-- login.html -->
      </div>
    </div>
  </div>

  <script src="{% static 'js/modal.js' %}"></script>
  <script src="{% static 'js/cover.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
